<h1>投稿</h1>
<%= form_for @post, :url => { :controller => :posts, :action => :create } do |f| %>

<%= f.attachment_field :image, placeolder:'画像' %>

<h3>タイトル</h3>
<%= f.text_field :title %>

<h5>病院名<br />
	<%= f.text_field :hospital, placeolder:'任意' %>
</h5>
<h5>費用<br />
	<%= f.text_field :cost, placeolder:'任意' %>
</h5>

<h3>本文</h3>
<%= f.text_area :body %>

<h4><%= f.submit '投稿' %></h4>

<% end %>